{% extends 'base.html' %}

{% block title %} {{ question.title }} {% endblock %}

{% block body %}
    <h3><i>{{ question.title }}</i></h3>
    {{ question.description }}
    <br>
    {% for answer in answers %}

        <div>
            <h3>{{ answer.answer_text }} <span style="font-size: 15px">by [{{ answer.user }}]</span></h3>
            <form method="post" action="{% url 'ans:detail' question.id %}">
                {% csrf_token %}
                <input type="hidden" name="type" value="vote">
                <input type="hidden" name="answer_id" value="{{ answer.id }}">
                {% for upvote in answer.upvote_set.all %}
                    {% if upvote.user == request.user %}
                        <input type="submit" disabled='true' class="btn btn-sm btn-warning"
                               value="Upvoted|{{ answer.upvote_set.all.count }}">
                    {% endif %}

                {% empty %}
                    <input type="submit" class="btn btn-sm btn-success" value="Upvote|{{ answer.upvote_set.all.count }}">

                {% endfor %}
            </form>
        </div>
    {% empty %}
        <input type="submit" class="btn btn-sm btn-success" value="Upvote|0">

    {% endfor %}
    <br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#answer"><span
            class="glyphicon glyphicon-pencil"></span> Answer
    </button>
    <form action="{% url 'ans:detail' question.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="answer">
        <input type="hidden" name="question_id" value="{{ question.id }}">
        <div id="answer" class="collapse">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-9">
                                <textarea class="form-control" rows="6" placeholder="Write your answer here"
                                          required name="write"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
    <script>
    </script>

{% endblock %}
