{% extends 'base.html' %}
{% block title %} Title {% endblock %}

{% block body %}
    {% if not upvoted %}
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Sorry!</strong> We don't have any answer given by you
        </div>

    {% else %}
        {% for obj in upvoted %}
            <a href="{% url 'ans:detail' obj.answer.questions.id %}"> {{ obj.answer.questions }} </a> <br>
            {{ obj.answer }} <br>


        {% endfor %}
    {% endif %}

{% endblock %}